/* :root{
    --main-color:#2196f3;
    --main-color-alt:#1787e0;
    --section-padding: 80px;
    --tranparent-color: #CCC;
    --main-padding-top:60px ;
    --main-padding-bottom: 60px;
    --main-transition: 0.3s;
    --main-background-color:white;
    --ult-background-color:#ececec;
}
.top-title{
    margin: 0 auto 80px;
    width: fit-content;
    border: 1px solid black;
    padding: 5px 10px;
    position: relative;
    transition: var(--main-transition);
    z-index: 1;
}
.top-title:hover{
    color: white;
    transition-delay: 0.3s;
    z-index: 1;
}
.top-title::before,
.top-title::after
{
    z-index: 1;
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: var(--main-color);
}
.top-title::before{
    left: -30px;
}
.top-title:hover::before{
    z-index: 1;
    animation: left-move 0.5s linear forwards;
}
.top-title::after{
    right: -30px;
}
.top-title:hover::after{
    z-index: 1;
    animation: right-move 0.5s linear forwards;
}
@keyframes left-move{
    50%{
        left: 0;
        border-radius: 50%;
    }
    100%{
        left: 0;
        border-radius: 0;
        height: 100%;
        width: 50%;
    }
}
@keyframes right-move{
    50%{
        right: 0;
        border-radius: 50%;
    }
    100%{
        right: 0;
        border-radius: 0;
        height: 100%;
        width: 50%;
    }
}
 */
 a{
    position: absolute;
    color: #1787e0;
    left: 50%;
    transform: translateX(-50%);
    animation: go-down infinite 1s;
 }

 @keyframes go-down{

p{
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%);
    text-align: center;
    border: 1px solid black;
    padding: 25px;
}